body {
    margin: 0;
    overflow: scroll;
    background-color: rgb(194, 246, 255);
}

div#container {
    width: 600px;
    height: 600px;
    position: relative;
    padding: 0;
    background-color: blue;
    float: left;
}

div.Right-Plain {
    float: right;
    width: calc(100% - 600px);
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.slidecontainer {
    margin-top: 10px;
}

#applyGates {
    border: 1px solid black;
}

#buildGate {
    display: none;
    border: 1px solid black;
}

#GatesDiv {
    margin: 10px;
    overflow-wrap: break-word;
}

.GateSpan {
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
    box-sizing: border-box;
}

#qubits {
    border-top: 1px solid black;
}

#qubitDiv {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}